.customer-booking {
    padding: 20px;
  }
  
  .booking-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .booking-table th,
  .booking-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .booking-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .booking-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .booking-table tr:hover {
    background-color: #ddd;
  }
  
  .booking-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:whitesmoke;
    color: black;
  }
  